@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

$pc: 1080px; // PC
$tab: 1079px; // タブレット
$sp: 600px;	// スマホ

$max-width: 1300px;

@mixin pc {
	@media only screen and (min-width: ($pc)) {
		@content;
	}
}
@mixin tab {
	@media only screen and (max-width: ($tab)) {
		@content;
	}
}
@mixin sp {
	@media only screen and (max-width: ($sp)) {
		@content;
	}
}
@mixin grand {
	@media only screen and (min-width:1500px) {
		@content;
	}
}


@include tab {

}

@include sp {

}