@use "common" as *;
@use "resetcss.module" as *;

.youtube {
	margin: 1em;
}

#topImg {
	margin-bottom: 1em;
}

@include pc {
  .header {
    width: 100%;
    height: 450px;
    margin: 0 auto;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    &::after {
      content: "";
      display: block;
      clear: both;
      visibility: hidden;
    }
    .logo {
      float: left;
      background: url('logo.png');
      background-repeat: no-repeat;
      width: 170px;
      height: 118px;
      padding: 10px 0 0 0;
      a {
        font-size: 20px;
        color: #444;
        font-weight: bold;
        line-height: 1;
      }
      span {
        font-size: 12px;
        font-weight: normal;
      }
    }
  }
  .headTitle {
    font-size: 33px;
    text-align: center;
    color: #fff;
  }


}